# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Python files
*.py text eol=lf
*.pyw text eol=lf

# Cpp files
*.cpp text eol=lf
*.h text eol=lf

# Config / data files
*.ini text eol=lf
*.cfg text eol=lf
*.toml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.txt text eol=lf

# Script files
*.sh text eol=lf
*.bat text eol=crlf
*.ps1 text eol=crlf

# Spec file (PyInstaller)
*.spec text eol=lf

# Git files
.gitattributes text eol=lf
.gitignore text eol=lf